*{
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    height: 127px;
}



.container{
    width: 100%;
    height: 100%;
}
.search{
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding-top: 20px;

}
.logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.logo img{
    width: 92px;
    height: 33px;
    object-fit: contain;
}
.search_box{
    width: 719px;
    height: 46px;
    display: flex;
}
.form{
    width: 719px;
    height: 46px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 15px 5px 15px;
    margin-left: 29px;
    border: 1px solid #CCCCCC;
    border-radius: 30px;
    box-shadow: 1px 1px 3px #ccc;
}
form{
    display: flex;
    
}
form input{
    width: 493px;
    height: auto;
    outline: none;
    border: none;
    font-size: 14px;
    padding-right: 15px;
    margin-right: 15px;
}
form input:focus{
    border-right: 1px solid #ccc;
}
.form a img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    object-fit: contain;
}
.menu{
    display: flex;
    margin-right: 29px;
}
.menu nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.menu nav a img{
    width: 22px;
    height: 22px;
    margin-left: 22px;
}
.menu nav a #login{
    width: 28px;
    height: 28px;
    border-radius: 30px;
}




.search_menu{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-bottom: 1px solid #ccc;
}
.search_menu nav{
    margin-left: 145px;
}
.search_menu nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.search_menu nav a{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #5c5c5c;
}
.search_menu nav a img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 3px;
}
.search_option{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 22px;
    font-size: 15px;
}
.ferramentas{
    margin-left: 42px;
}






